@font-face {
  font-family: 'LINE_SEED_TW';
  src: url('./LINESeedTW_OTF_Th.woff2') format('woff2');
  font-weight: '300';
}

@font-face {
  font-family: 'LINE_SEED_TW';
  src: url('LINESeedTW_OTF_Rg.woff2') format('woff2');
  font-weight: '400';
}

@font-face {
  font-family: 'LINE_SEED_TW';
  src: url('./LINESeedTW_OTF_Bd.woff2') format('woff2');
  font-weight: '700';
}

@font-face {
  font-family: 'LINE_SEED_TW';
  src: url('./LINESeedTW_OTF_Eb.woff2') format('woff2');
  font-weight: '800';
}
