$neutral: (
  seed: oklch(0.2972 0 0),
  0: oklch(0 0 89.88),
  10: oklch(0.2972 0 0),
  20: oklch(0.3562 0 0),
  30: oklch(0.4128 0 0),
  40: oklch(0.4712 0 0),
  50: oklch(0.5313 0 0),
  60: oklch(0.5897 0 0),
  70: oklch(0.65 0 0),
  80: oklch(0.7058 0 0),
  90: oklch(0.7668 0 0),
  95: oklch(0.8234 0 0),
  99: oklch(0.8822 0 0),
  100: oklch(1 0 0),
);
$primary: (
  seed: oklch(0.8205 0.1348 90.1),
  0: oklch(0 0 0),
  10: oklch(0.2506 0.0245 85.88),
  20: oklch(0.3652 0.0472 87.57),
  30: oklch(0.4783 0.0691 88.7),
  40: oklch(0.5915 0.091 89.67),
  50: oklch(0.7068 0.1135 89.94),
  60: oklch(0.8205 0.1348 90.1),
  70: oklch(0.8496 0.117 89.34),
  80: oklch(0.8792 0.0965 87.77),
  90: oklch(0.9096 0.074 87.61),
  95: oklch(0.9385 0.0505 85.71),
  99: oklch(0.9694 0.0256 84.59),
  100: oklch(1 0 90.1),
);
