$primary: (
  seed: oklch(0.8205 0.1348 90.1),
  0: oklch(0 0 0),
  5: oklch(0.1771 0.0362 90.44),
  10: oklch(0.2238 0.0457 89.07),
  15: oklch(0.2669 0.0545 89.89),
  20: oklch(0.3121 0.0638 90.75),
  25: oklch(0.3532 0.0722 89.93),
  30: oklch(0.3968 0.0811 89.56),
  35: oklch(0.4415 0.0902 90.37),
  40: oklch(0.4828 0.0987 90.04),
  50: oklch(0.5696 0.1164 89.85),
  60: oklch(0.6562 0.1242 90.46),
  70: oklch(0.7416 0.1297 90.03),
  80: oklch(0.8276 0.1352 89.65),
  90: oklch(0.9147 0.1078 89.69),
  95: oklch(0.9562 0.0475 85.77),
  98: oklch(0.9826 0.0119 67.62),
  99: oklch(0.9923 0.0067 325.56),
  100: oklch(1 0 299.18),
);

$secondary: (
  seed: oklch(0.4816 0.0428 88.38),
  0: oklch(0 0 0),
  5: oklch(0.1774 0.0335 88.63),
  10: oklch(0.2248 0.0378 92.02),
  15: oklch(0.2675 0.0387 90.47),
  20: oklch(0.3114 0.0399 91.52),
  25: oklch(0.3549 0.0411 90.36),
  30: oklch(0.3973 0.0423 89.29),
  35: oklch(0.4387 0.0421 87.62),
  40: oklch(0.4816 0.0428 88.38),
  50: oklch(0.569 0.0446 88.15),
  60: oklch(0.6566 0.0463 87.93),
  70: oklch(0.7416 0.0469 87.16),
  80: oklch(0.8271 0.0486 87.01),
  90: oklch(0.9137 0.0492 86.33),
  95: oklch(0.9562 0.0475 85.77),
  98: oklch(0.9826 0.0119 67.62),
  99: oklch(0.9923 0.0067 325.56),
  100: oklch(1 0 299.18),
);

$tertiary: (
  seed: oklch(0.477 0.0518 147.5),
  0: oklch(0 0 0),
  5: oklch(0.1712 0.0465 150.59),
  10: oklch(0.2171 0.0489 149.77),
  15: oklch(0.2616 0.0505 148.32),
  20: oklch(0.3048 0.0508 147.86),
  25: oklch(0.3469 0.051 147.18),
  30: oklch(0.391 0.0519 147.27),
  35: oklch(0.434 0.0528 147.32),
  40: oklch(0.477 0.0518 147.5),
  50: oklch(0.5626 0.053 146.63),
  60: oklch(0.6487 0.0532 146.7),
  70: oklch(0.7358 0.0538 145.01),
  80: oklch(0.8223 0.0559 145.05),
  90: oklch(0.9081 0.0557 144.3),
  95: oklch(0.9504 0.0551 144.33),
  98: oklch(0.9792 0.0368 141.59),
  99: oklch(0.9897 0.0195 135.84),
  100: oklch(1 0 299.18),
);

$neutral: (
  seed: oklch(0.4834 0.0121 81.75),
  0: oklch(0 0 0),
  5: oklch(0.1782 0.0104 88.8),
  10: oklch(0.2237 0.0105 80.56),
  15: oklch(0.266 0.0101 80.61),
  20: oklch(0.3106 0.0097 80.64),
  25: oklch(0.3533 0.011 84.57),
  30: oklch(0.3961 0.0113 78.17),
  35: oklch(0.4405 0.011 78.18),
  40: oklch(0.4834 0.0121 81.75),
  50: oklch(0.5684 0.011 72.54),
  60: oklch(0.6555 0.0118 76.52),
  70: oklch(0.741 0.0121 71.81),
  80: oklch(0.8291 0.0129 75.3),
  90: oklch(0.913 0.0132 71.27),
  95: oklch(0.9581 0.0141 74.37),
  98: oklch(0.9826 0.0119 67.62),
  99: oklch(0.9923 0.0067 325.56),
  100: oklch(1 0 299.18),
);

$neutral-variant: (
  seed: oklch(0.4833 0.023 87.56),
  0: oklch(0 0 0),
  5: oklch(0.1779 0.0199 93.76),
  10: oklch(0.2234 0.0192 88.74),
  15: oklch(0.2665 0.0207 86.36),
  20: oklch(0.3109 0.0201 86.42),
  25: oklch(0.3536 0.0211 88.07),
  30: oklch(0.3964 0.0211 84.54),
  35: oklch(0.4404 0.022 86.15),
  40: oklch(0.4833 0.023 87.56),
  50: oklch(0.568 0.0226 84.57),
  60: oklch(0.6551 0.0232 85.94),
  70: oklch(0.7414 0.0235 80.64),
  80: oklch(0.8264 0.0241 82.09),
  90: oklch(0.9131 0.0252 81.1),
  95: oklch(0.9582 0.0261 82.36),
  98: oklch(0.9826 0.0119 67.62),
  99: oklch(0.9923 0.0067 325.56),
  100: oklch(1 0 299.18),
);
